.row {
  margin-bottom: 16px;
}

.selector {
  width: 100%;
}

.divider {
  padding: 0;
  margin: 0;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}