.root {
  height: 100vh;
}
.content {
  height: available;
  overflow-y: scroll;
  padding: 16px;
}

.header {
  height: auto;
  z-index: 16;
  margin: 0;
  padding: 16px;
  background: #fff;
  box-shadow: 0 4px 8px #dadbdc;
}

.sider {
  background: #fff;
  box-shadow: 0 4px 8px #dadbdc;
}