.logo {
  height: 50px;
  width: 50px;
}

.root {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.header {

}

.title {
  margin-left: 20px;
}

.content {

}