.root {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.title {
  flex-grow: 1;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}

.image {
  height:64px;
  width:64px;
  margin-right: 16px;
}
